html {
    background-color: bisque;
    font-family: helvetica;
    margin: 25px;
}

img {
    border: 14px solid whitesmoke;
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 28px;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  
#title-sub-div {
    margin-bottom: 10px;
}


#appIntro {
    text-align: center;
}


.button {
    width:50%;
    margin-left:25%;
    margin-right:25%;
}

.movie-button {
    width:50%;
    margin-left:25%;
    margin-right:25%;
    padding: 5px;
    margin-bottom: 20px;
}

#movie-input {
    width:50%;
    margin-left:25%;
    margin-right:25%;
    margin-top: 40px;
    padding: 5px;
}

#movie-results {
    width:50%;
    margin-left:25%;
    margin-right:25%;
}

#drink-results {
    width:50%;
    margin-left:25%;
    margin-right:25%;
}

#recipe-results {
    width:50%;
    margin-left:25%;
    margin-right:25%;
}

#drink-image {
    border: solid black 3px;
    margin-left: auto;
}

#recipeInput {
    width:50%;
    margin-left:25%;
    margin-right:25%;
    padding: 5px;
    margin-top: 15px;
}

#previousIngredientsBtn {
    width:40%;
    margin-left:30%;
    margin-right:30%;
    margin-top: 10px;
    font-size:1vw;
}